 &ensp; &ensp; Low: {{ vLow }}  &ensp; &ensp;  Mid: {{ vAvg }}  &ensp; &ensp;  High {{ vHigh }} <br> <br>
LastPrice: {{ vLast}}   &ensp; &ensp;  Percent:{{ vPercentchange }}  <br> <br>

S: {{ vS }} &ensp; &ensp; M: {{ vM }} &ensp; &ensp; L: {{ vL }} &ensp; &ensp; 
 <br> <br>
 BuyablePrice: {{vBuyable}}
